<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--change allowBackup and fullBackupOnly to false to prevent database restored after uninstall,
    hence data that supposed to be prepopulate can function properly-->
    <application
        android:name="me.shangdelu.stretchez.StretchEzApplication"
        android:allowBackup="false"
        android:fullBackupOnly="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StretchEz"
        android:usesCleartextTraffic="true">
        <activity
            android:name="me.shangdelu.stretchez.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_bottom_navigation_main">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="me.shangdelu.stretchez.WorkOutFragment"
            android:exported="true"
            tools:ignore="Instantiatable" />
        <activity
            android:name="me.shangdelu.stretchez.ui.main.BottomNavigationMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>